<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div *ngIf="!showSelect()">
    <input type="number" class="number-input" name="quantity" [(ngModel)]="quantity" (ngModelChange)="onQuantityChange($event)" />
  </div>
  <select *ngIf="showSelect()" class="select-input" name="quantity" [(ngModel)]="quantity" required>
    <option value="0">Quantity</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
  <p class="message">{{ errorMessage }}</p>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Add to cart</button>
</form>
